# Importing the required libraries

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
pd.set_option('display.max_rows',500)
sns.set_style('darkgrid')
plt.rcParams['font.size'] = 14
plt.rcParams['figure.figsize'] = (9, 5)
plt.rcParams['figure.facecolor'] = '#00000000'

# Importing and cleaning of the dataset.

In [3]:
df = pd.read_csv('glassdoor_jobs.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,₹100 to ₹500 billion (INR),-1
2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer"
3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,"Enlivant, Sunrise Senior Living, Brookdale Sen..."
4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1

In [4]:
df.shape

(1000, 14)

In [7]:
#lets first check for any null values
df.isna().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

### It's a good news that the dataset doesn't have any null values

In [8]:
#lets check if the data type is correct for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1000 non-null   object
 1   Salary Estimate    1000 non-null   object
 2   Job Description    1000 non-null   object
 3   Rating             1000 non-null   float64
 4   Company Name       1000 non-null   object
 5   Location           1000 non-null   object
 6   Headquarters       1000 non-null   object
 7   Size               1000 non-null   object
 8   Founded            1000 non-null   int64
 9   Type of ownership  1000 non-null   object
 10  Industry           1000 non-null   object
 11  Sector             1000 non-null   object
 12  Revenue            1000 non-null   object
 13  Competitors        1000 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 109.5+ KB

<hr>

Data values of column Salary Estimate are not correct/clean  <br>
We need to clean this column and change its create new columns like Min Salary and Max Salary

In [11]:
df['Salary Estimate']
# looks like the pattern is same accross the data values : $numK - $numK (Glassdoor Est.)
# we need to remove the extra characters and just keep the numerical values

0        $77K-$92K (Glassdoor Est.)
1        $77K-$92K (Glassdoor Est.)
2        $77K-$92K (Glassdoor Est.)
3        $77K-$92K (Glassdoor Est.)
4        $77K-$92K (Glassdoor Est.)
                   ...
995    $105K-$138K (Glassdoor Est.)
996    $105K-$138K (Glassdoor Est.)
997    $105K-$138K (Glassdoor Est.)
998    $105K-$138K (Glassdoor Est.)
999    $105K-$138K (Glassdoor Est.)
Name: Salary Estimate, Length: 1000, dtype: object

before we mess it up, lets copy the data into another variable so operations do not affect the 
original data and we will always have an option to roll back to the original data

In [115]:
copy_df = df.copy()
copy_df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,₹100 to ₹500 billion (INR),-1
2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer"
3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,"Enlivant, Sunrise Senior Living, Brookdale Sen..."
4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1

In [116]:
copy_df['Salary Estimate'].value_counts(dropna=False)
#this confirms what we need to remove from the values

$105K-$138K (Glassdoor Est.)          130
$108K-$140K (Glassdoor Est.)           30
$59K-$101K (Glassdoor Est.)            30
$81K-$137K (Glassdoor Est.)            30
$81K-$102K (Glassdoor Est.)            30
$60K-$124K (Glassdoor Est.)            30
$71K-$108K (Glassdoor Est.)            30
$112K-$149K (Glassdoor Est.)           30
$88K-$133K (Glassdoor Est.)            30
$83K-$99K (Glassdoor Est.)             30
$92K-$146K (Glassdoor Est.)            30
$86K-$108K (Glassdoor Est.)            30
$73K-$128K (Glassdoor Est.)            30
$68K-$119K (Glassdoor Est.)            30
$125K-$156K (Glassdoor Est.)           30
$77K-$92K (Glassdoor Est.)             30
$72K-$121K (Glassdoor Est.)            30
$70K-$119K (Glassdoor Est.)            30
$110K-$145K (Glassdoor Est.)           30
$48K-$91K (Glassdoor Est.)             30
$50K-$63K (Glassdoor Est.)             30
$95K-$165K (Glassdoor Est.)            30
$57K-$94K (Glassdoor Est.)             30
$105K-$117K (Glassdoor Est.)           30
$139K-$229K (Glassdoor Est.)           30
$41K-$73K (Glassdoor Est.)             30
$106K-$143K (Glassdoor Est.)           30
$90K-$109K (Glassdoor Est.)            30
$ 17-$ 23 Per Hour(Glassdoor Est.)     30
$49K-$88K (Glassdoor Est.)             30
Name: Salary Estimate, dtype: int64

In [117]:
#lets first get rid of that "(Glassdoor Est.)" text
#here we are using regular expression to split the text by either '(' or 'P'
#it will return a list after spliting, then we will keep the 0th element from the list
import re
def split_string(string):
    split_result = re.split(r'\(|P', string)
    return split_result[0] if split_result else ""

copy_df['Salary Estimate'] = copy_df['Salary Estimate'].apply(lambda x: split_string(x))

In [118]:
copy_df['Salary Estimate']

0        $77K-$92K
1        $77K-$92K
2        $77K-$92K
3        $77K-$92K
4        $77K-$92K
           ...
995    $105K-$138K
996    $105K-$138K
997    $105K-$138K
998    $105K-$138K
999    $105K-$138K
Name: Salary Estimate, Length: 1000, dtype: object

In [119]:
# lets remove the $ and k signs now
copy_df['Salary Estimate'] = copy_df['Salary Estimate'].apply(lambda x: x.replace("$", "").replace("K", ""))

In [120]:
copy_df['Salary Estimate']

0        77-92
1        77-92
2        77-92
3        77-92
4        77-92
         ...
995    105-138
996    105-138
997    105-138
998    105-138
999    105-138
Name: Salary Estimate, Length: 1000, dtype: object

In [123]:
#now that we have only numbers from the text, we can create new columns like Min, Max Salary, and Average Salary
copy_df['Min Salary'] = copy_df['Salary Estimate'].apply(lambda x: int(x.split('-')[0]))
copy_df['Max Salary'] = copy_df['Salary Estimate'].apply(lambda x: int(x.split('-')[1]))
copy_df['Avg Salary'] = (copy_df['Min Salary']+copy_df['Max Salary'])/2

In [122]:
copy_df['Min Salary']

0       77
1       77
2       77
3       77
4       77
      ...
995    105
996    105
997    105
998    105
999    105
Name: Min Salary, Length: 1000, dtype: int64

In [106]:
copy_df['Max Salary']

0       92
1       92
2       92
3       92
4       92
       ...
995    138
996    138
997    138
998    138
999    138
Name: Max Salary, Length: 1000, dtype: object

In [124]:
copy_df['Avg Salary']

0       84.5
1       84.5
2       84.5
3       84.5
4       84.5
       ...
995    121.5
996    121.5
997    121.5
998    121.5
999    121.5
Name: Avg Salary, Length: 1000, dtype: float64

In [107]:
#lets clean the Size column so that we can create new columns for computation
copy_df['Size'] = copy_df['Size'].apply(lambda x :  x.replace('to','').replace('employees',''))

In [108]:
copy_df['Size'].value_counts()

51  200         200
1001  5000      162
10000+          151
1  50           130
201  500        124
501  1000       121
5001  10000      55
Unknown          30
-1               27
Name: Size, dtype: int64

In [113]:
#
copy_df = copy_df[copy_df['Size'] != 'Unknown']
copy_df = copy_df[copy_df['Size'] != '-1']

In [114]:
copy_df['Size'].value_counts()

51  200         200
1001  5000      162
10000+          151
1  50           130
201  500        124
501  1000       121
5001  10000      55
Name: Size, dtype: int64

In [131]:
#company name has rating and \n attached to it at the end. We need to fix this by removing it.
copy_df['Company_Text'] = copy_df.apply(lambda x : x['Company Name'] if x['Rating']<0 else x['Company Name'][:-4],axis =1)

In [151]:
copy_df = copy_df[copy_df['Location'].str.contains(',')]

In [152]:
#lets create a new column for state, which stores State of that company 
copy_df['State'] = copy_df['Location'].apply(lambda x : x.split(',')[1])

<ipython-input-152-d4d16217405e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy_df['State'] = copy_df['Location'].apply(lambda x : x.split(',')[1])

In [157]:
# we can also create a column which tells us if the company location is the
#headquarters for the corresponding company or not
copy_df['Same State'] = copy_df.apply(lambda x : 1 if x.Location == x.Headquarters else  0 ,axis = 1)

<ipython-input-157-c337958d51b2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy_df['Same State'] = copy_df.apply(lambda x : 1 if x.Location == x.Headquarters else  0 ,axis = 1)

In [165]:
# we can also find out the age of the company using FOUNDED column
# but this column contain irregular values like -1, since the founded year cannot be negative
# we will fill it with median that is 1995
copy_df['Founded'] = copy_df['Founded'].replace(-1,1995)

In [168]:
# here we are calculating the age of the company
copy_df['Company Age'] = copy_df['Founded'].apply(lambda x: x if x <1  else 2023 -x)

In [171]:
# we can use JOB DESCRIPTION column to find out which technologies company ask for a candidate must have experience in
# Python

copy_df['Python_req'] = copy_df['Job Description'].apply(
    lambda x: 1 if 'python' in x.lower() or 'Python' in x.lower() else 0)
copy_df['Python_req'].value_counts()

1    644
0    335
Name: Python_req, dtype: int64

In [173]:
# R Studio

copy_df['R_Studio_req'] = copy_df['Job Description'].apply(
    lambda x: 1 if 'r studio' in x.lower() or 'R studio' in x.lower() or 'R Studio' in x.lower() else 0)
copy_df['R_Studio_req'].value_counts()

0    976
1      3
Name: R_Studio_req, dtype: int64

In [174]:
#spark
copy_df['Spark_req'] = copy_df['Job Description'].apply(
    lambda x: 1 if 'Spark' in x.lower() or 'spark' in x.lower() else 0)
copy_df['Spark_req'].value_counts()

0    750
1    229
Name: Spark_req, dtype: int64

In [175]:
#Excel
copy_df['Excel_req'] = copy_df['Job Description'].apply(
    lambda x: 1 if 'Excel' in x.lower() or 'excel' in x.lower() else 0)
copy_df['Excel_req'].value_counts()

0    575
1    404
Name: Excel_req, dtype: int64

In [176]:
#Aws
copy_df['AWS_req'] = copy_df['Job Description'].apply(
    lambda x: 1 if 'AWS' in x.lower() or 'aws' in x.lower() else 0)
copy_df['AWS_req'].value_counts()

0    745
1    234
Name: AWS_req, dtype: int64

### Now we have finished our data cleaning, we will export this as csv for further usage

In [178]:
copy_df.to_csv('CleanedGlassdoorDataScienceJobs.csv',index = False)

In [ ]:
f